
.User {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 20px 6px rgba(138,138,138,1);
}

.User:hover {
    background-image: linear-gradient(rgba(224, 189, 189, 0.8), rgba(196, 195, 195, 0.8));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.User h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.User li {
    list-style-type: none;
    font-size: 1.4rem;
    line-height: 1.7;
}

.User li a {
    text-decoration: none;
}

.icon {
    margin-right: 10px;
}

.BtnInfo {
    margin-top: 40px;
    align-self: center;

}


@media only screen and (max-width: 499px) {
    .User {
        width: 200px;

    }

}


